log4j.rootLogger=debug, ServerDailyRollingFile, stdout

log4j.appender.ServerDailyRollingFile=org.apache.log4j.DailyRollingFileAppender
log4j.appender.ServerDailyRollingFile.DatePattern='.'yyyy-MM-dd
log4j.appender.ServerDailyRollingFile.File=logs/${LOG_FILE_NAME}.log
log4j.appender.ServerDailyRollingFile.layout=org.apache.log4j.PatternLayout
log4j.appender.ServerDailyRollingFile.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c.%M:%L - %X{batch_elk_tag}%m%n
log4j.appender.ServerDailyRollingFile.Append=true
log4j.appender.ServerDailyRollingFile.MaxFileSize=500MB
log4j.appender.ServerDailyRollingFile.MaxBackupIndex=7

log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c.%M:%L - %m%n

log4j.logger.org.apache.zookeeper.ClientCnxn=info