package ${package}.web.service;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import javax.ws.rs.Produces;
import javax.ws.rs.core.MediaType;

/**
 * Created by ${author} on ${datetime}.
 */
@Produces(MediaType.APPLICATION_JSON)
public class DemoWebService {

    private static Logger LOG = LoggerFactory.getLogger(DemoWebService.class);


}
