package ${package}.web.service;

import ${package}.entity.JsonResult;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.Response;

/**
 * Created by ${author} on ${datetime}.
 */
@Produces(MediaType.APPLICATION_JSON)
public class HealthWebService {

    private static Logger LOG = LoggerFactory.getLogger(HealthWebService.class);


    @GET
    @Path("/health")
    public Response check() {

        try {
            return Response.status(200).entity(new JsonResult(0, "The ${serviceName} service is healthy.")).build();
        }
        catch (Exception e) {
            LOG.error("The ${serviceName} service is unhealthy!!!", e);
            return Response.status(400).entity(new JsonResult(1, "The ${serviceName} service is unhealthy!!!")).build();
        }
    }
}
